body{
    overflow-x: hidden;
}
.navbar{
    background: #000;
    .nav-item{
        text-transform: uppercase;
    }
}
#slider{
    .carousel-inner{
        .carousel-img-1{
            background-image: url(../img/image1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            height: 500px;
        }
        .carousel-img-2{
            background-image: url(../img/image2.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            height: 500px;
        }

        .carousel-img-3{
            background-image: url(../img/image3.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            height: 500px;
        }
    }
}
#home-icon{
    .fa{
        font-size: 3rem;
    }
}
#get-started{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/bg1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
}

#home-video{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/people.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    background-attachment: fixed;

    .fa{
        font-size: 40px;
        color: red;
        transition: 0.5s;
    }

    .fa:hover{
        transform: scale(1.3);
    }

}
#home-info-section{
    a:hover{
        color: #fff!important;
    }
}

section#fotter-section {
    background: #000;
}
//About Section
#page-header{
    background: url(../img/image1.jpeg);
    background-size: cover;
    height: 220px;
    background-attachment: fixed;
}

#about-info{
    img{
        width: 350px;
        height: 350px;
    }
}

#icon-boxes{
    .fa{
        font-size: 3.5rem;
        color:#fff;
    }
}

//Services-Header-Section
#service-header{
    background: url(../img/image2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 200px;
}

@media(max-width:576px){
    #slider{
        h3{
            font-size: 2.5rem;
        }
    }
   
}
